/* Write your CSS here */
.todoItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.deleteButton {
  background-color: #ffffff;
  color: #ff0b37;
  border: 2px solid #ff0b37;
  border-radius: 8px;
  font-size: 15px;
}
